@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

body, input {
  font-family: 'Sono', monospace;
}

.border-bottom {
  border-bottom: 1px solid black !important;
}

.border-top {
  border-top: 1px solid black !important;
}

.border-left {
  border-left: 1px solid black !important;
}

.border-right {
  border-right: 1px solid black !important;
}

.border-all {
  border: 1px solid black !important;
}

.border-none {
  border: none !important;
}

.button-btn {
  border: none;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-radius: 10px;
  margin-top: 1rem;
}

.button-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);

  cursor: pointer;
}


.ant-btn-icon svg:hover {
  color: white;
}
 
main {
  min-height: 100vh;
}
main {
  overflow-y: scroll;
}
.main-div::-webkit-scrollbar{
  width: 0px;
}

.anticon svg {
  width: 1.5rem;
  height: 1.5rem;
  color: white;
  transform: translateY(8px);
  margin-left: 3px;
}
.ant-table-cell a svg {
 display: inline-block;
 margin-right: 1rem;
 cursor: pointer;
}
.ant-table-cell button  {
 display: inline-block;
 cursor: pointer;
}